In [ ]:
import numpy as np 
import pandas as pd 


import os
for dirname, _, filenames in os.walk('./data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
        
print(os.getcwd())

./data/产品物料预测说明.docx
./data/demand_train.csv
./data/提交结果模板.csv
./data/stock_train.csv
/Users/sampson/Workspace/mse1-2/material-predict

In [7]:
df_demand = pd.read_csv('./data/demand_train.csv',  encoding="gbk")
df_stock = pd.read_csv('./data/stock_train.csv',  encoding="gbk")

In [8]:
df_demand.head()

                  过账日期   需求量  工厂编码  物料编码  物料品牌  物料类型  物料品类
0  2018-01-06 00:00:00  0.33  2004  1000  5000  3002  4014
1  2018-01-08 00:00:00  0.09  2010  1000  5000  3002  4014
2  2018-01-09 00:00:00  0.09  2008  1000  5000  3002  4014
3  2018-01-10 00:00:00  0.10  2010  1000  5000  3002  4014
4  2018-01-11 00:00:00  0.17  2004  1000  5000  3002  4014

In [9]:
df_stock.head()

         过账日期  工厂编码  物料编码  物料品牌  物料类型  物料品类   库存量
0  2018-01-24  2000  1001  5000  3002  4006  2.71
1  2018-01-24  2000  1003  5000  3002  4005  6.84
2  2018-01-24  2000  1014  5000  3002  4008  1.28
3  2018-01-24  2000  1021  5000  3002  4006  1.04
4  2018-01-24  2000  1027  5001  3002  4014  2.63

In [10]:
df_demand.describe()

,需求量,工厂编码,物料编码,物料品牌,物料类型,物料品类
count,1.183595e+06,1.183595e+06,1.183595e+06,1.183595e+06,1.183595e+06,1.183595e+06
mean,1.958798e+00,2.006381e+03,1.072562e+03,5.002936e+03,3.002101e+03,4.009243e+03
std,3.016734e+00,4.934734e+00,5.195837e+01,3.641080e+00,5.131062e-01,5.127511e+00
min,0.000000e+00,2.000000e+03,1.000000e+03,5.000000e+03,3.000000e+03,4.000000e+03
25%,2.800000e-01,2.002000e+03,1.038000e+03,5.001000e+03,3.002000e+03,4.006000e+03
50%,8.300000e-01,2.006000e+03,1.053000e+03,5.001000e+03,3.002000e+03,4.010000e+03
75%,2.010000e+00,2.011000e+03,1.091000e+03,5.001000e+03,3.002000e+03,4.013000e+03
max,8.868000e+01,2.015000e+03,1.297000e+03,5.012000e+03,3.004000e+03,4.023000e+03

In [11]:
df_stock.describe()

,工厂编码,物料编码,物料品牌,物料类型,物料品类,库存量
count,14931.000000,14931.000000,14931.000000,14931.000000,14931.000000,14931.000000
mean,2006.470832,1084.777443,5002.862568,3002.034425,4010.774697,34.927600
std,4.608461,69.556936,3.626574,0.808209,5.962419,84.648045
min,2000.000000,1000.000000,5000.000000,3000.000000,4000.000000,0.000000
25%,2002.000000,1037.000000,5001.000000,3002.000000,4006.000000,2.010000
50%,2006.000000,1053.000000,5001.000000,3002.000000,4010.000000,8.670000
75%,2011.000000,1125.000000,5002.000000,3002.000000,4014.000000,30.080000
max,2015.000000,1297.000000,5012.000000,3004.000000,4023.000000,1270.690000

In [12]:
df_demand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1183595 entries, 0 to 1183594
Data columns (total 7 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   过账日期    1183595 non-null  object
 1   需求量     1183595 non-null  float64
 2   工厂编码    1183595 non-null  int64
 3   物料编码    1183595 non-null  int64
 4   物料品牌    1183595 non-null  int64
 5   物料类型    1183595 non-null  int64
 6   物料品类    1183595 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 63.2+ MB

In [13]:
df_stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14931 entries, 0 to 14930
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   过账日期    14931 non-null  object
 1   工厂编码    14931 non-null  int64
 2   物料编码    14931 non-null  int64
 3   物料品牌    14931 non-null  int64
 4   物料类型    14931 non-null  int64
 5   物料品类    14931 non-null  int64
 6   库存量     14931 non-null  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 816.7+ KB